<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Baba</title>
  <link rel="stylesheet" href="{{ site.url }}/assets/css/babawind.css">
</head>
<body>
<header>
  <nav>
    <a href="{{ site.url }}" class="current">Home</a>
    <a href="/" target="_blank" class="current">Blog</a>
    <a href="https://github.com/yuceltoluyag/minel-starter" target="_blank" rel="nofollow">Source Code</a>
  </nav>

  <h1>{{ site.name }}</h1>
  <p>{{ site.description }}</p>
</header>
  <div id="main">
    {{ content }}
  </div>
</body>
</html>


